<ion-view view-title="Home">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h3 class="textCenter">Faceti o poza, salvati locatia si trimiteti informatiile catre un centru de animale</h3>
            </div>
        </div>

        <div class="homeButtonsContainer">
            <button class="button button-positive centerHorizontally ion-camera icon-left"
                    ng-click="onClickTakePicture()">Fa o poza</button>
            <button class="button button-positive centerHorizontally ion-earth icon-left"
                    ng-click="onClickGetLocation()">Salveaza locatia</button>
        </div>
    </ion-content>

    <img ng-src="{{cameraPhotoUrl}}" class="cameraPhoto" />

    <button class="button button-block button-balanced centerHorizontally ion-checkmark icon-left sendButton"
            ng-click="onClickSendInformation()">Trimite informatia</button>
</ion-view>